
<div class="container">
    <h1 class="text-center mb-4">@ViewBag.Nombre</h1>
    <div class="row mt-3 grid gap-5">
        <div class="col-md-8">
            <div class="col-md-8" >
                <form  asp-controller="Employees" asp-action="Search" method="get">
                    <div class="input-group mb-3">
                    <input type="text" name="searchString" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                    </div>
                </form> 
            </div>

            <table class="table table-border border-dark mt-4">
                <thead>
                    <tr>
                        <th class="col">Nombres</th>
                        <th class="col">Apellidos</th>
                        <th class="col">Correo</th>
                        <th class="col">Acciones</th>
                        
                    </tr>
                </thead>
@foreach(var empleado in Model){
                <tbody>
                    <tr>
                        <td>@empleado.Names</td>
                        <td>@empleado.LastNames</td>
                        <td>@empleado.Email</td>
                        <td>
                            <a asp-route-id="@empleado.Id" asp-action="Eliminar" asp-controller="Empleados" class="btn btn-danger">Eliminar</a>
                        </td>

                       
                    </tr>
                </tbody>
}
            </table>
        </div>
        <div class="col-md-3">
            <div class="mt-4 d-grid gap-2">
                <a class="btn btn-primary mb-4 mt-5" asp-controller="Empleados" asp-action="Create">Registrar un nuevo empleado</a>

                <form asp-action="GuardarEntrada" asp-controller="Historiales" method="post">
                    <button class="btn btn-dark mb-4" type="submit" name="IngresoButton" value="Ingreso">Registrar Ingreso</button>
                </form>
            @if (TempData["MensajeConfirmacion"] != null){
                <div class="alert alert-success" role="alert">
                    @TempData["MensajeConfirmacion"]
                </div>
            }

                <a class="btn btn-dark mb-4" asp-controller="Historiales" asp-action="Index">Registrar Salida</a>

                <form asp-controller="Empleados" asp-action="Logout" method="post">
                    <button class="btn btn-outline-primary" type="submit">Cerrar sesion</button>
                </form>
            </div>
        </div>
      
    </div>
</div>
